<div class="container">
  <!-- HEADER 1 -->
  <div class="header1">
    <h2>dashboard</h2>
    <i class="bx bx-menu"></i>
  </div>

  <!-- HEADER 2 -->
  <div class="header2">
    <div class="box-esq">
      <i class="bx bxs-bell"></i>
      <i class="bx bx-envelope"></i>
      <i class="bx bxs-cog"></i>
    </div>
    <div class="box-dir">
      <i class="bx bx-search"></i>
      <i class="bx bxs-rocket"></i>
    </div>
  </div>

  <!-- MENU -->
  <div class="menu">
    <ul>
      <li>
        <a href="#"> <i class="bx bxs-dashboard"></i>Dashboard</a>
      </li>

      <li>
        <a href="#"><i class="bx bxs-analyse"></i>Análise</a>
      </li>
      <li>
        <a href="#"><i class="bx bx-task"></i>Todo List</a>
      </li>
      <li>
        <a href="#"> <i class="bx bxs-group"></i>Equipe</a>
      </li>
      <li>
        <a href="#"><i class="bx bxs-group"></i>Inbox</a>
      </li>
      <li>
        <a href="#"><i class="bx bxs-star"></i>Prioridades</a>
      </li>
    </ul>
  </div>
  <!-- CONTENT -->
  <div class="content">
    <div class="ad">
      <div class="img">Imagem</div>
      <div class="graph">Gráfico</div>
    </div>

    <section>
      <div class="box1">
        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span>Membros do Time</span>
        </div>
        <div class="member">

          <div class="card-member">

            <div class="img">
              <img src="xxx.png" alt="">
            </div>

            <div class="name">
              <h3>Prof. Beto</h3>
              <h4>Professor</h4>
            </div>
            
          </div>



        </div>
        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span>Atividade</span>
        </div>
      </div>
      <div class="box2"></div>
    </section>
  </div>
</div>
